__pycache__
.idea
*.pyc
outputs
plan_outputs
SimDINO
ibot

datasets/data/
data/
*.pth
checkpoints/*
!checkpoints/pusht/
.venv/
.venv_train/
wandb/

# After *.pth: allow tracking pusht checkpoints
!checkpoints/pusht/**/*.pth
